{% extends 'base.html' %}

{% block content %}
    <div style="max-width: 1200px; margin: 0 auto; padding: 20px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul style="margin-top: 20px; padding-left: 0; list-style-type: none;">
            {% for category, message in messages %}
                <li class="flash-message {{ category }}" style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
        <h1 style="text-align: center; color: #4CAF50;">Manage Checkpoints</h1>

        {% if checkpoints %}
            <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="background-color: #4CAF50; color: white; padding: 10px;">Location</th>
                        <th style="background-color: #4CAF50; color: white; padding: 10px;">End Time</th>
                        <th style="background-color: #4CAF50; color: white; padding: 10px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for checkpoint in checkpoints %}
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td style="padding: 10px;">{{ checkpoint.Checkpoint_Location }}</td>
                        <td style="padding: 10px;">{{ checkpoint.Checkpoint_EndTime }}</td>
                        <td style="padding: 10px;">
                            <form action="{{ url_for('delete_checkpoint', checkpoint_id=checkpoint.CheckpointID) }}" method="POST" style="display:inline;">
                                <button type="submit" style="color: white; background-color: red; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px;">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="text-align: center;">No checkpoints found.</p>
        {% endif %}

        <div style="margin-top: 20px; text-align: center;">
            <a href="{{ url_for('add_checkpoint') }}" style="text-decoration: none; color: white; background-color: #4CAF50; padding: 10px 15px; border-radius: 5px;">Add Checkpoint</a>
            <a href="{{ url_for('dashboard') }}" style="text-decoration: none; color: white; background-color: #008CBA; padding: 10px 15px; border-radius: 5px; margin-left: 10px;">Back to Dashboard</a>

        </div>
        
    </div>
    <script src="{{ url_for('static', filename='my_javascript.js') }}"></script>
{% endblock %}